.DS_Store
node_modules/
dist/static/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.qshell/
dist*
.cache*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# 忽略七牛的上传配置文件
qupload.conf
qshell
qupload-dmp.conf
